[2013-01-15 00:56] PeterMeyer opened #1 "FFViperCompat"
Right now weather Module will not initialize correctly after FFViper was compiled
correctly. This has to do with General overrides. The Problem is known and is
not solved read.

Topics: FRead Problem, past bug in VC++ Compiler.

[2013-01-19 04:38] vinnydiehl commented on #1
I assigned @Multifalcon to this bug as you told me he was hunting it. The bug appears to be in [this method](https://github.com/FreeFalcon/freefalcon-central/blob/fbdcb9a5ed96fb056be29a1d6512fb1a0ca303f2/src/graphics/weather/tod.cpp#L637). There are a bunch of `fscanf()` calls and the function seems to have been overridden somewhere else in the code.

The problem here is that `fscanf()` simply doe

[2013-01-19 05:01] vinnydiehl opened #2 "Visual Studio 2010 Migration"
Issue to track the migration to Visual Studio 2010. Right now #1 is the main roadblock that we face.

[2013-01-20 00:51] PeterMeyer commented on #1
Yeah lets look to the compatlib for a quick fix and hopefully we find the override.
It would be the dream if some old coder of Falcon can bring light into the dark.

[2013-01-20 01:45] vinnydiehl commented on #1
Unfortunately the person that introduced the override to the code probably hasn't touched Falcon in 8 years.

[2013-01-20 08:25] Multifalcon commented on #1
Morning, finally I have connection.

You are right about the bug, in the incialization, unfortunately, I must delay the bug fix, for reallfe issues, ASAP I will come to the FFcode.

[2013-01-20 08:29] PlutoniumHeart commented on #1
Hi all, I believe I have found and fixed this bug, I am wondering how I should upload this fix.

Thanks!

Plutonium

[2013-01-20 08:47] vinnydiehl commented on #1
@Multifalcon: That's not a problem, personal issues are well understood.

@PlutoniumHeart: If you think you have it fixed, take the following steps to get the patch to us for review:
1. Fork this repository
2. Clone your fork to your computer
3. Create a feature branch for the fix (`git checkout -b feature/file-read-fix`)
4. Apply your changes to the code
5. Commit the changes (you can reference t

[2013-01-20 08:58] PlutoniumHeart commented on #1
@gbchaosmaster: Hi, I should be able to do that tomorrow. But in the case that I had a problem doing this, I will let you know.

Thanks.

Plutonium

[2013-01-20 08:59] vinnydiehl commented on #1
@PlutoniumHeart: Alrighty, I look forward to seeing your changes. The sooner we can get rid of this issue, the better.

Cheers,
Vinny

[2013-01-20 09:04] PeterMeyer commented on #1
Good morning.
Awsome news! Good Job Plutonium ;D
@Plutonium I get a Bounce message from the Mailinglist. Can you just send a fresh/new post to the List with a new subject abut this bug to it and describe what you have done? You can also send yor Patch to the Mailing list.

All the best,
Peter

[2013-01-20 14:00] Multifalcon commented on #1
Geat Job Plutonium. I work on this issue for a while and I am so happy you have found the way to fix

[2013-01-21 01:05] #1 closed, assigned to Multifalcon

[2013-01-21 17:25] vinnydiehl opened #5 "Strange indexing overflow crashing on startup"
Our next problem is [here](https://github.com/FreeFalcon/freefalcon-central/blob/997e291665eccb1a64197895cad1dab6aaea1252/src/graphics/objects/drawparticlesys.cpp#L2400).

The problem is that `ppn->sizeStages` somehow jumps way up to some obscenely high number after a few of what appears to be normal iterations of that `On` block.

I put in a bit of test code to send the value of that to a file so

[2013-01-21 17:53] PeterMeyer commented on #5
Oh my... i hate all the ifdefs there.. you never know what side effects this causes. Will dig into it.

[2013-01-21 18:08] vinnydiehl commented on #5
If you dig in and can't find the cause of the jump, look into whether or not my hacky fix (the one I commented out in the Gist) would come back to bite our asses down the road. :confounded:

Looks like a lot of switches for new features, in the future we'll look into getting rid of as many as we can.

[2013-01-21 22:29] PlutoniumHeart commented on #5
It looks like when parsing the particlesys.ini file the exe doesn't know how do parse entries starting with the word "trail" so it keeps thinking that all the words parsed belong to the last entry scaned which is "id=wp_small", that's what's causing the over float.

Don't know how the trails section was originally parsed, if someone can give me some ideas, I can fix this.

I also can't help wonder

[2013-01-21 22:32] PlutoniumHeart commented on #5
One more thing to note is that entries starting with the word "animation" is no longer present in the FreeFalcon 6 installation's particlesys.ini file. So this part of the code is not going to be executed any more.

At this point, I am wondering if we should try to use a lower version of FF to try with the code, may be FF5?

[2013-01-21 23:42] PlutoniumHeart commented on #5
I am able to get into the game now, but only the GUI not the 3D environment though. There are a lot of errors though...

[2013-01-21 23:49] vinnydiehl commented on #5
@PlutoniumHeart: Did downgrading to FF5 allow you to get into the GUI? I'm about to try that right now.

Edit: Nope, that didn't do it, I'll assume that you hacked away a bunch of roadblocks to get in. : P

[2013-01-21 23:58] PlutoniumHeart commented on #5
No, I modfied the bool DrawableParticleSys::LoadParameters(void)...

However, I just noticed that whoever wrote this function already realized that this is an outdated function so they defined something like this: it turns out the bool DrawableParticleSys::LoadParameters(void) is outdated, the code defines something like #ifdef USE_NEW_PS
    return PS_LoadParameters();
#else
but the macro somehow

[2013-01-22 00:00] PlutoniumHeart commented on #5
B the W, this piece of code in the DrawableParticleSys class is the worst piece code I have seem ever...

[2013-01-22 00:07] vinnydiehl commented on #5
Haha, you'll probably be able to find worse in here. Check out what I had to do for 39786956ca79680a541b65cd26211e1b197eb849. :anguished:

I assigned you on this issue, queue up a patch if you think you're onto the problem. I gave you push access to this repository, so work on a branch and push it up to here (`git push origin feature/particlesys-parse-fix` or whatever, you'll have to change your r

[2013-01-22 00:10] PlutoniumHeart commented on #5
Well, formating is one thing, I can tolerate that, it is the unprofessionality in the work flow that's driving me crazy... I would expect they put a line of "continue;" at the end of each iteration, but no,  not even this simplest common sense.

[2013-01-22 09:40] PeterMeyer commented on #5
The Particlesys Code is from some of the BMS Team. A  few Days ago as we started he claimed its IP on the particlesys stuff hand how dare we are using such a advanced stuff ;d

[2013-01-22 09:44] PeterMeyer commented on #5
Original Code.I have some but you must know i had to puzzle things together, because the former coder gave FF not all of his work back This Code reflects not the same FFViper.exe Version wich is shipped with the  FreeFalcon 6.0 Installer. The code has maybe the featureset of the year 2009, therefore it should reflect more the FreeFalcon 5.x serires (the old Coder didnt give the FF Team all its wor

[2013-01-22 10:15] PeterMeyer opened #6 "Copyprotection code from former FF Coder"
There are  a few lines of code, made by the old Coder Fred Balding (Baldeagle) wich makes
some Copyprotection checks,

File: F4find.cpp

[code]

Ranger reported me via EMail about this a few month ago.

[2013-01-22 16:59] PlutoniumHeart commented on #5
Man, I hope this guy is out of the BMS team, otherwise, BMS's code would be a disaster to maintain in the future.

[2013-01-22 17:58] Multifalcon commented on #5
HI sorry to be out. but RL has priority.

I will try to be here soon.
Cheers.

[2013-01-22 18:08] vinnydiehl commented on #5
@Multifalcon: No problem, good luck with whatever you're dealing with.

Everyone else: Where should we go from here? Try to fix this mess, rewrite particlesys completely, or nuke it?

[2013-01-22 20:06] PlutoniumHeart commented on #5
I am still working on this one, I think I'll try to clean it up soon.

[2013-01-22 20:45] vinnydiehl commented on #5
@PlutoniumHeart: Alright. Thanks a lot for all of the time that you're putting into this, it's much appreciated.

[2013-01-22 22:24] PeterMeyer commented on #5
@PlutoniumHeart
Yeah absolutly awsome!

[2013-01-22 22:31] PeterMeyer commented on #5
@gbchaosmaster
We should fix it for now but this particlesys code is not the best in the world i can imagine (id dont want use strong words here) but we should use the libbullet (opensource physics lib) to get some advanced and really awsome physics results http://bulletphysics.org i think.

[2013-01-22 22:38] vinnydiehl commented on #5
@PeterMeyer: My thoughts exactly, I like libbullet.

[2013-01-22 22:42] vinnydiehl commented on #6
[Link](https://github.com/FreeFalcon/freefalcon-central/blob/1119f138758cb67e8506e7fb6815c861d8a7c84a/src/falclib/f4find.cpp#L76)

The code looks a bit dated, probably okay to kill it?

[2013-01-22 22:48] PeterMeyer commented on #5
Awsome!
For the Flightphysics of the Aircrafts i have this in my mind (free to choose FDM of cause)
http://freefalcon.tk/topic/8418555/1/

[2013-01-22 22:56] vinnydiehl commented on #5
Seeing as that's an entirely different issue than this one I'll take this discussion to that thread.

[2013-01-23 04:07] PlutoniumHeart commented on #5
OK, I have "cleaned up" the particlesys part of the code. During the process, I banged my head against the wall multiple times, asking myself, was it worth it to clean up the mess? And why would anyone hire a 10-year-old for a project of more than 610000 C/C++ lines involved?

Bottom line is now you can enter the 2D environment after ignoring/acknowledging multiple additional errors. However, you

[2013-01-23 04:14] PlutoniumHeart commented on #5
Now in a more serious note, I hope you guys can have a better time making this work. I would recommend not to make major changes to existing features before we can make it work as it intended to.

There are weird errors from Dialog box about "bad maneuver data file format", you guys should notice it immediately after you got my modified code.

Thanks!

Plutonium

[2013-01-23 04:47] vinnydiehl commented on #5
Hey @PlutoniumHeart, thanks a lot for your work, and nope, I don't know the guy and if I did I'd have a few stern words to say about the shit code that he's been writing, heh. Anyway, now that you're part of the team, you can take the following steps to do commits to the project.
1. Change your `origin` remote to point to this repo (`git remote set-url origin git@github.com:FreeFalcon/freefalcon-c

[2013-01-23 07:16] PlutoniumHeart commented on #5
OK, now I just found out that you have to put the _filbuf() function back, but rename, otherwise the sim won't be able to read zipped files. And in addition to that, the "mnvrdata.dat" file in zip file is not the correct version, not even close. The sim is not able to process it, we need to see the old or new version of this file, other wise, the code would has to be rewrote.

[2013-01-23 07:30] vinnydiehl commented on #5
That's a completely separate issue from this, no? Should probably make the fixes for this overflow and the mnvrdata failure separate issues/pulls.

I only have the game files for FF5.5, 5.55, 6.0, and maybe 5.0 if I'm lucky. I'd have to go spelunking to get any earlier version. Not sure what versions the other guys have available.

[2013-01-23 12:13] PeterMeyer commented on #6
Yeah remove it. I hate bs like this.

[2013-01-23 12:26] PeterMeyer commented on #5
I have some old Code but you need VS2003 to get it work.I will see how i can make it avaiable for you.
But if you can rewrite it, it would be the better Solution Plutonium. I send you guys a pm with the link of the untouched code, original code i was sended via email as i joined the FF Team in 2012

[2013-01-23 18:20] #6 closed, assigned to nobody

[2013-01-23 23:23] PlutoniumHeart commented on #5
@gbchaosmaster I was not able to run the second command, and I think I just pushed the commit under the origin, hope that's fine.

[2013-01-23 23:52] #5 closed, assigned to PlutoniumHeart

[2013-01-24 00:19] vinnydiehl opened #8 "Bad maneuver data file format"
The `ShiWarning()` in [this method](https://github.com/FreeFalcon/freefalcon-central/blob/128d7a2242b2da524383e5719eb3a453719907fc/src/sim/digi/digimain.cpp#L787) is being triggered on startup- the next roadblock on our way to working code.

[2013-01-24 02:00] PeterMeyer commented on #8
I simply clicked the errorboxes away and deal a bit with the alt+tab and winkey tabswitch go set app/windows focus,
it load further and i entered the UI Official FreeFalcon  Version is 5.0 and FFViper.exe Version is 2.3.1.9
We need an FreeFalcon 5.0 Installation, because the Datafiles are diffrent to FF 6.0. I just try to organize some FF5 Installer.

Hints:
The Soundsystem is initialized, UI Back

[2013-01-24 02:49] PlutoniumHeart commented on #8
Hi guys, I actually took a look at this, this is cause by the removal of the _filbuf() overload function, the removed one is able to read a zipped file, but the one came with the VS can't, so, I am putting it back, and  using marcos to define undefine it when necessary. One more thing about this overload function is that now the scanf() won't use this overload function, so all the operations conce

[2013-01-24 02:51] vinnydiehl commented on #8
I can't get into the UI at all. Are we getting the same sequence of errors? I'm getting:
1. The one mentioned in this issue (twice)
2. "Requested unavailable resolution 1024x768x16"
3. "TimeManager dieing with callbacks still registered!"
4. "Failed: !isReady()"

Upon ignoring the last, it crashes with an unhandled exception, an access violation reading location 0x0.

[2013-01-24 02:55] vinnydiehl commented on #8
@PlutoniumHeart: :+1: on killing ResMgr, it's nasty and a maintenance nightmare. How high of a priority that will be depends on how stable the code is once it's up and running.

[2013-01-24 02:59] PeterMeyer commented on #8
@gbchaosmaster
Yeah. I started in debug mode. You have to click the Errors away. The Timemanager dying thing is because it
trys to load in the Weatherlib this Textfile (tod.lst) and loads it in a struct. If this struct has not the expected
params you get this TimeManager is died Error. Simply search for TimeManager dying string in the Slution you will find it.

[2013-01-24 03:04] PlutoniumHeart commented on #8
@gbchaosmaster I don't have the second and 4th errors you got.

And if I put the _filbuf() overload back, I won't be able to get into the UI either, so there are something more going on with this overload function.

[2013-01-24 03:40] vinnydiehl commented on #8
I think we should look into another way to get those files unpacked, or not have them packed in the first place. Using a low-level override when macro triggered is fragile and asking for trouble down the road.

[2013-01-24 06:35] PeterMeyer commented on #8
hmm if it comes to compressed file data we should think about using libzlib. But we should be carefull about unpacking, because of all the files out there who is packed. better uncompressing it with another method.

[2013-01-24 06:43] vinnydiehl commented on #8
I'm reasonably certain that the code used to use zlib. I wouldn't mind using it again, it's a nice library.

Or just don't bother with compression at all. The zip that we're working with here is only 6 MB larger uncompressed, and it adds extra overhead to decompress while loading the sim.

[2013-01-24 08:13] PlutoniumHeart commented on #8
OK guys, I was forced to revisit those low level operation functions, and I believe the root of the file reading problem was because of the VS version changes from 6.0 upward, I deleted few more macros and it's working fine, I am able to use the override function _filbuf().

Now I should focus on fixing the file parcing part of the code since the code is assuming a different version of configurati

[2013-01-24 12:19] vinnydiehl commented on #8
Alright, awesome. If that fixes these particular warnings, feel free to push that code up to a branch and send a PR and create a different issue for fixing the file parsing.

[2013-01-24 13:56] PeterMeyer commented on #8
Regarding changed Datafiles. I was able to get an FF5.5 Installer.The Error Situation now a complete diffrent. There are startup Popups but if you click it away you can Use the UI, prepare a Mission, logbook ect without Errors. I upload the FF55 Installer right now our Mirros. Check Forum Download Section a few Ours. The upcomming Errors a mainly occuring in tex.cpp. I think they have changed the

[2013-01-24 13:59] PeterMeyer commented on #8
ps:
We should catch this type of Exceptions. Its just because diffrent Datafile Formats. Before we change the Loader, its maybe a good Idee to keep in mind thadt old Theatre Files maybe need this loading Code. A detection of the Fileversion would be a nice thing.

[2013-01-24 17:29] PlutoniumHeart commented on #8
I just tried both 5.5 and 5.0, and under 5.5 I still got an error messge after 2 pop ups, but I got to the UI. Under 5.0, the situation is far worse, I don't believe it's worth the trouble to install 5.0. You can also see from the EXE's version it's somewhere between 5.5 and 6.0.

[2013-01-24 17:33] vinnydiehl commented on #8
Still can't even reach the UI in Win8 because of the additional warnings/error that I mentioned above, but Win7 lets me get to the UI by clicking away the warnings.

[2013-01-24 17:37] PeterMeyer commented on #8
This is because the Error Popup Windows gained the Focus. You can use TAB+ALT and toggle between the diffrent Windows and Error Popup Windows. Toggle to Error, click it away ant toggle with TAB+ALT to the next Windows Focus. After a few clicks away you are in the UI an can click on the UI Menu Stuff elements like Logbook.

ps: We should really redirect all Errors to non visual components. An Error

[2013-01-24 19:37] vinnydiehl commented on #8
Yep, it works as you describe on my Win7 install on my laptop, I have to Alt-Tab back to close some errors and the UI works, on my Win8 install the UI doesn't even begin to load, it CTDs. I suspect that solving the file reading issues might fix this.

[2013-01-24 21:46] vinnydiehl commented on #8
Fixed in #10.

[2013-01-24 21:46] #8 closed, assigned to PlutoniumHeart

[2013-01-25 01:50] vinnydiehl opened #12 ""already in Index" errors in console output"
I'm getting the following two lines of seemingly related error output in the console:

[code]

They may or may not be harmless, but it'd be best to kill everything reminiscent of an error, eh? :smiley:

The problem occurs in `C_Resmgr::LoadIndex()` on [this line](https://github.com/FreeFalcon/freefalcon-central/blob/751e9327e2b3c35a1fb9b1efc443178b5843c9cc/src/ui95/cresmgr.cpp#L257). There are sev

[2013-01-25 04:18] vinnydiehl opened #13 "Failed assertions trying to get into 3D mode"
Right as the first plane is lit up on the loading screen, there are two assertions that fail. Both message boxes pop up at roughly the same time, so let's look at these first.

One of them occurs in [this switch](https://github.com/FreeFalcon/freefalcon-central/blob/c7fff2314797ce4bfc59a2e38130f38e6450076c/src/graphics/texture/tex.cpp#L830). `m_eSurfFmt` is set to `D3DX_SF_UNKNOWN` at this point,

[2013-01-25 12:56] PeterMeyer commented on #13
Hmm, regarding to the Code: 80070057 Errors, lookslike it cannot access some Bitmap/Imagefile and create an Texturemap. Maybe it cannot find the needed imagefile (file not found) or the image file format is not as expected.This looks like an COM (Component Object Modell) Error: HRESULT: 0x80070057 (2147942487) Name of the Exception: is: E_INVALIDARG. Maybe you can bypass it, but you get texture re

[2013-01-25 13:13] JagHond opened #14 "FF6 graphic card (who knows?) issue when in MP"
Hi all. I'm here with my alternative nick, because as seems my official one (Jackal) is kept here yet.

Also given that the old FreeFalcon forum has suddenly closed, would someone kindly help me with this issue?
When I'm in FF6, ITO2 theater last released version opened, and most of all when I'm in MP, the sim crashes after a few minutes of flight - it freezes and I'm obliged to close the sim with

[2013-01-25 15:03] PeterMeyer commented on #14
Hi Jackal. Can you please File this Error in the Forum in the Supportsection? We will try to help you there. Here its unfortently offtopic, because the FFViper.exe you have is not the same we talking about here. Just goto http://freefalcon.tk/forum/3602302/ and File you Bugreport in the Forum. All the best Peter

[2013-01-25 19:10] PlutoniumHeart commented on #13
@PeterMeyer Did you tried to by pass it and get to the 3D environment?

[2013-01-25 19:38] vinnydiehl commented on #14
@PeterMeyer: It's okay, I sent him here. This was an issue with FF previously and will likely also be a problem once we get this one working. We'll take a look into this particular crash as soon as it's actually possible to.

Also, if anything on the boards it'd be the [FreeFalconOSC](http://freefalcon.tk/forum/3602285/) section, the Training & Support section is for help actually flying the sim,

[2013-01-25 22:46] PeterMeyer commented on #14
Ok. Looks for me thadt ObjectiveClass::GetRadarType() raised an General Protectionfault. A Pointer is pointed to an false Adress after changing Radar Settings in the MFD while the TE Campaign s running.On read of Memory Offset 00000067 the GP fault occured.The Exception is throwed to the Simloop.The Kernel terminates the Process and quits FFViper.exe (Not responding Message). Jackals FFViper.exe i

[2013-01-25 23:27] PeterMeyer commented on #13
@PlutoniumHeart
Yeah. I was able to bypass this Error. I simply commented out this Method:

bool TextureHandle::Load(UInt16 mip, UInt chroma, UInt8 *TexBuffer, bool bDoNotLoadBits, bool bDoNotCopyBits, int nImageDataStride)  and set return to false.

Now the Consolelog output has changed to:

sion: 0, Build: 0
-- DXContext - Start of Caps report
 Device supports AGP texturing
 Insufficient color k

[2013-01-26 04:15] PlutoniumHeart commented on #13
@PeterMeyer I am still very much puzzled by the file structure of the FF6 and the EXE code we have, I was thinking that the tac reference uses the same 3D engine, so it would be easier to check that out first, but it keeps asking me for a strange file for the f-18 CFA18A.tga, there is no such file available, and so it fails, and the tacref also triggered the same assertion failure. I believe no te

[2013-01-26 04:28] PlutoniumHeart commented on #13
I can actually see the F-18's model being rendered and is interactive with all the viewing controls, in the tac ref. by commeting out the assertion if else statement, but if I tab out to the desktop and tab back in it disappears...

I am wondering why void TextureBankClass::Reference(int id) function only updates the refCount but not doing any texture reading, everything indicates that it should.

[2013-01-26 04:56] PlutoniumHeart commented on #13
I just created a release build of the exe and put it in the FF6 folder, it looks like a lot of issues are only present in the debug build, I don't know why, with debug build in the tacRef, if you view more than 3 aircrafts, and then go back to a already viewed one, it give assertion failure and other more errors until the program crashes, but in the release it doesn't have this issue. Also in the

[2013-01-26 04:59] vinnydiehl commented on #13
I can't imagine it's any of the `#ifdef`s in debug, as there aren't that many in the areas where we have problems. I wonder if it has to do with compiler options?

[2013-01-26 05:08] PlutoniumHeart commented on #13
I don't know if it is the right question to ask, but how did the old FF team do their business? Are those bugs we are having now only appeared when the code was moved to VS2010?

[2013-01-26 13:56] PeterMeyer commented on #13
@PlutoniumHeart
AS said erlier. Microsoft has done whole nr of "improvements" after the next Version of Visual Studio (this was VS2005). No one in the BMS Team or anywhere else in the FalconSphere was ever able to port this peace of shit
to an newer Compiler then VS2003 VC++ 7.1) We are the fist Team who ever archived this Goal, having it compile.
The old VS2003 Compiler allowed some Instructions

[2013-01-26 14:00] PeterMeyer commented on #13
Regarding Datafiles:
I was able to get an FF50. an FF5.5 and an FF6.0 Installation. all 3 Versions are side by Side. You can change wich Installation Folder is used by our FFViper.exe If you adjust the Registrykey using FF5.0 Folder all the Errors here are gone, but one other Error wich has to do with initialization of SimMemoryPool with an negative value is showing. Dont forget. This Codebase is

[2013-01-26 14:09] PeterMeyer commented on #13
This are the Registryvalues. Just change it to an another FreeFalcon Version No Directory and you completely diffrent FFViper.exe Results:

Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\MicroProse]
[HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\MicroProse\Falcon]
[HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\MicroProse\Falcon\4.0]
"baseDir"="F:\FreeFalcon5"
"curTheater"="Kore

[2013-01-26 14:12] PeterMeyer commented on #13
Regading missing texture.
If you get an error msg because of a missing tga or other imagefile, just make some dummy imagefile and put it where it should load. If the Code loads without flaws, the next step is to get the correct file with the correct artwork in it.

[2013-01-27 15:01] PeterMeyer opened #16 "FF Copyprotection stragneness"
I just got the Info out of the Community, thadt our Friend Fred BaldEgale has done
some nasty things in one of the most used tools for modding (LODEditor) wich has its
Counterpart in FFViper.exe See the text below.

In the Contribsection there is some Code of LODEditor Maybe we should check the
code and tell our Userbase not working with the blackboxed, harmfull LODEditor
Version.
#

LODEditor 7.0

[2013-01-27 18:58] vinnydiehl commented on #16
Can FF run with an unlocked DB? I'd rather have everything unlocked and open.

[2013-01-27 23:39] PeterMeyer commented on #16
Hmm, i dont know. But we should make clear it can run locked and unlocked beacause many of the Databases is made with this Tool. We have LODEditor in the Contrib Section, but i depends of lots on Falclib and other parts wich belongs to FFViper itself. I think we must provide an own version of it if FFViper is running or the Community is forced to use this Blackboxed thing who nobody knows what the

[2013-01-28 00:15] vinnydiehl commented on #16
Think it would be better to just release new mod tools and redesign how modding in Falcon is done rather than fix the current modding interface/tools?

[2013-01-28 07:03] vinnydiehl opened #18 "Occasional bug when trying to load a font"
Sometimes [this assertion](https://github.com/FreeFalcon/freefalcon-central/blob/e8698f961fe33b2cccf0d7f8b8e23dcbd2283dff/src/graphics/renderer/render2d.cpp#L1102) fails, sometimes it doesn't. The file that it is trying to read is at `art/ckptart/autofont/16x12font.rct` in the FF install directory. The contents of `str` on the pass where it fails is `"3 43 234 10 18 1\n"`\- only 6 numbers, when th

[2013-01-28 08:15] PeterMeyer commented on #16
Hmm why not? As far as i can see. The Cockpitfiles are plain Textfiles. This type of Files can be editet manually. The other thing is Terrain. As far as i know, this is compiled into an BSP File, like the old Quake2 ones. I never cared about modding but i will find out. Maybe we should consider changing BSP to Octree for volume spacing, BSP is not the best Solution for OpenTerrain stuff.

[2013-01-28 08:24] PeterMeyer commented on #18
16x12font.rct is an Textfile. As far as i can see the formatstring expects 7 paramas, but in the last line (not the blank line at the end) is only a 6 params. Maybe sometimes it read everything and sometimes not. This might could explain this.Maybe you can simply add and 0 Param  and see whats happend.

[2013-01-28 15:48] JagHond commented on #14
Thanks for your interest in my issue and for your answer too.
I will hold on until tjhat day.

[2013-01-28 22:52] vinnydiehl commented on #18
The cause of this issue is indeed a malformed font file. Solution: add a `1` param to the end of `art/ckptart/autofont/16x12font.rct` and call it a day. We need a better way to develop on the game content and share changes such as this one rather than word of mouth, so I'll work on a strategy for getting those files under version control.

[2013-01-28 22:52] #18 closed, assigned to nobody

[2013-01-29 01:42] vinnydiehl commented on #13
#17 made a lot of progress on this issue.

[2013-01-29 02:20] vinnydiehl commented on #18
`art/ckptart/3dfont/16x12font.rct` also has this malformation, add a 1 to the end of that also.

[2013-01-29 02:33] vinnydiehl opened #20 "Windows 8 resolution bug"
When trying to run the code in Windows 8, I get the following warning:

[code]

The warning is coming from [this bit of code](https://github.com/FreeFalcon/freefalcon-central/blob/7cd1a86035fb0c762457650b488e3e6a212b9b86/src/graphics/ddstuff/device.cpp#L66-85).

Peter is also getting this issue on a Win8 install. It looks like it's whining about having to load 16-bit colours. This warning can't be

[2013-01-29 12:28] PeterMeyer commented on #20
I think you can solve this if you use just an other default initialization value. 1024x768x16 should be fine on every
PC since 2004 i think. Windows 8 needs allways this settings so we should think about it making it default.

[2013-01-29 22:00] PlutoniumHeart opened #21 "Strange program behavior in "Renderow" class and it's father and son classes"
Assignment operations to it's member variables are not done correctly, some of the variables are not even showing up in the debug watch. Never seem anything like this before, not sure if it's compiler's error or there's something wrong with the code, not sure how to fix.

[2013-01-29 22:06] PeterMeyer commented on #21
Can you just provide an Codeline wich Members are not shown in the Watchlist?
Is there an  $IFDEF Block who behaves other in Debug as in the Release build?

[2013-01-29 22:18] PlutoniumHeart commented on #21
@PeterMeyer I am not sure how to cite a line of code here, but you can start your VS 2010 debugger and go to the line "viewpoint = vp" in "void RenderOTW::Setup(ImageBuffer *imageBuffer, RViewPoint *vp)" inside file "OTW.cpp" you can see that the assignment failed silently, without any warning error, it just ran right pass it with appearently nothing done.
If you declare some test code in this cla

[2013-01-29 23:20] vinnydiehl commented on #21
@PlutoniumHeart To share a line of code, just browse to it on GitHub, click the line number that you want, and it'll highlight the line and add something like #L32 to the location bar. You can copy that URL and share it. To highlight a range of lines, you can make it something like, for example, #L32-35.

Instead of browsing directly on the develop branch, I'd recommend browsing the code of the la

[2013-01-29 23:25] PlutoniumHeart commented on #21
@PeterMeyer @gbchaosmaster OK, see this line of code, this is the part that things starting to get weird, well, actually it starts to go wrong from the constructor, but this should give you the idea any way. Check [here](https://github.com/FreeFalcon/freefalcon-central/blob/develop/src/graphics/renderer/otw.cpp#L197)

[2013-01-29 23:41] PlutoniumHeart commented on #21
OK, I figure it out! It was the Struct Member Alignment problem, for the project "Weather" it was set to use "4 Byte", change it to "Default" solves the problem.

If you changed that the current code can give you a version of FF that allows you to enter the 3D world after ignoring a dozen assertion failures, and in the 3D world, you can see the terrain, but not the cockpit, and "ESC" button does n

[2013-01-29 23:45] vinnydiehl commented on #21
Reopening this for now, push your fix to a feature branch and I'll close this from a merge commit, that way everything is documented.

[2013-01-29 23:46] PlutoniumHeart commented on #21
@gbchaosmaster Can this VS configuration change be pushed to the GIT?

[2013-01-29 23:49] #21 closed, assigned to nobody

[2013-01-29 23:49] vinnydiehl commented on #21
Yep, it worked.

[2013-01-30 00:28] vinnydiehl commented on #20
How can we do this? This appears to be a DirectX thing.

[2013-01-30 02:20] PeterMeyer commented on #21
Hmm strange. I set this Param because in the old Code it was 4 Bytes to. I hope this will not brake any cross Subproject references who using EXTERNAL Anyway. It seems it works for now.

[2013-01-30 22:13] PlutoniumHeart commented on #16
File structure change like this:
"d:\FFalcon\files.dir

moved to:

d:\FFalcon\Sounds\files.dir
"
is very important to know, if I have known this some of the commits to fix the error reading file would be unnecessary.

Do we have more of those changes?

[2013-01-31 12:42] PeterMeyer commented on #16
This File is used to enforce the Copyprotection. i believe. I hope this is the only nasty thing. for me its now not clear if there is an link between LODEditor and this but our primary mission should be make thadt damm thing fly again.

[2013-02-01 21:41] PeterMeyer opened #23 "Debug Assertion Failed on startup"
I just compiled the updtodate source from the Repo. In debug/Release i get a new critical Error:

Debug Assertion Failed

The Debugger falls back into this Code in
C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\crt\src\dbghook.c\dbghook.c

__declspec(noinline)
void __cdecl _CRT_DEBUGGER_HOOK(int _Reserved)
{
    /\* assign 0 to _debugger_hook_dummy so that the function is not folded in ret

[2013-02-06 07:55] vinnydiehl commented on #23
I feel like [these two lines](https://github.com/FreeFalcon/freefalcon-central/blob/develop/src/falclib/dispopts.cpp#L61-62) could be removed...

[code]

The rationale for them appears to be to make sure that the file at `path` is closed. Is this really necessary if the previous file opening failed (see the conditional that it is within)?

[2013-02-11 14:47] PeterMeyer commented on #13
I have the RV Code as well and i didnt compile on VS2010. But this is not the topic here.

[2013-02-17 03:51] PlutoniumHeart opened #24 "Questions about future development."
Let's assume that we have a sort-of-working version (i.e. able to go into 3D environment for 90% of the times, in both debug and release version, and is functioning the way it was in FF6) of the code, what's the next step? Who's capable of/going to do it?

[2013-02-17 05:01] vinnydiehl commented on #24
Once the code is functioning the same way that it was in FF6, we will focus on some of the most pressing bugs that were known, including multiplayer issues and air-to-air refueling, the latter of which I will tackle.

Once the open source project has a stable release, we will look into removing platform-specific code. This will be a collaboration of all developers and will be very much a long-term

[2013-02-17 06:53] PeterMeyer commented on #24
100% agree.FF7 will our Longterm supported fallback Version and the last Microsoft Windows only Version.
FF8 will be an new Technology Release (replacing Windows only Code).Chaos and myself are doing Linux Programming for Years now so if FF7 LTS can be delivered the real Codingfun starting with FF8 can begin, because many hot Features can be implemented.Check the Forum Section for Developers: The

[2013-02-17 19:08] Stewie23 commented on #13
okay i look a bit into the texture stuff, and it seems the tactical ref loads textures if u change
https://github.com/FreeFalcon/freefalcon-central/blob/develop/src/graphics/bsplib/texbank.cpp#L556

to:

TexturePool[id].tex.flags = MPR_TI_DDS;

odly the function seemd to be in a status of rewriting note https://github.com/FreeFalcon/freefalcon-central/blob/develop/src/graphics/bsplib/texbank.cpp#L

[2013-02-17 22:12] Stewie23 commented on #13
okay i also removed the stuff that tries to load .tga files, since i am a bit more confident about what i did there i try d the git stuff.

[2013-02-18 21:03] PlutoniumHeart commented on #24
For future work, I don't think it is realistic to move it to multi-platform, just think how much work has to be done, you have to get rid of the Register stuff, and then convert the DirectX 7 to Opengl, non of these are easy. On there other hand, I have noticed some old stuff in the code that's being generating very serious bugs, and I personally would perfer the team to working on this first.
And

[2013-02-18 21:05] PlutoniumHeart commented on #24
One more thing is that I convert the VS2003 code to VS2012 instead of VS2010.

After you guys got my code, we should schedule some kind of discussion/meeting to decide what's the next step.

[2013-02-19 03:30] Stewie23 opened #26 "Terrain Textures not loading"
The current code loads the terrain textures [here](https://github.com/FreeFalcon/freefalcon-central/blob/develop/src/graphics/texture/terrtex.cpp#L1422-L1429)

Since the FF6 installer comes with terrain files with "H" in front an not with "L" nothing gets loaded at all.

Changing the "L" to "H" (res is 0) leads to a crash when it tries to load the first [mipmap](https://github.com/FreeFalcon/freef

[2013-02-20 19:32] Stewie23 commented on #24
Hm make a new branch or repository with your working code, and upload it on git. Wouldn't that be a good way ?

[2013-02-21 00:06] vinnydiehl commented on #24
@PlutoniumHeart: There don't appear to be any further steps necessary to migrate to VS2012- the code compiles there for me the same as it does on 2010.

[2013-02-21 00:13] PlutoniumHeart commented on #24
@gbchaosmaster Yes, I know, what I am saying is that I have started my own conversion from the VS2003 code to VS2012, and fixed some bugs, and it is working. It is NOT based on what we have on github.

[2013-02-21 00:42] PlutoniumHeart commented on #24
I can upload it to the develop branch, but it might erase most of the coding style clean up.

Also, I am trying to understand how things works, before I start trying to correct those ancient bugs (I think we all need to understand first, don't do stuff like just making assertion failure go way, but to understand why it is happening and fix the cause), so if anyone has any profound understanding of

[2013-02-21 00:46] Stewie23 commented on #24
Thats why i suggested u make up an new branch, so nothing of the old stuff gets lost (well basicaly with git nothing gets lost) but since your stuff is not based on the master branch here, that would probaly the best way to do it.

[2013-02-21 02:50] vinnydiehl commented on #24
@PlutoniumHeart Ah. Go ahead and upload that to a branch, name it VS2012 or something. I'll take a look at it and work on getting it into production.

[2013-02-21 06:25] PeterMeyer commented on #24
VS2012 is dangerous because it uses a higher WinSDK Version and forces people to use Win7 or Win8
But if you have an new VS2003 to VS2012 conversion a new fork might be a good Idea. Crossplatform is our main goal and was part of the Project from the beginning. Im curious what makes your VS2003 to VS2012 Conversion run. Depends this on the blackboxed DLL/Lib Stuff we dont have the Sourcecode?

[2013-02-21 06:51] PeterMeyer commented on #24
@ PlutoniumHeart
The Infinite Loop is where all things are processed, Its an Stack design like the in the most Games.If some one want really slow down FPS and overall Performance this is the place to be.To your Question regarding WinMain. Yea WinMain is one of the Reasons we want go away from Micrsoft.In normal C/C++ it would be an int main() and not int CALLBACK WinMain(HINSTANCE hInstance,HINSTA

[2013-02-21 08:53] PlutoniumHeart commented on #24
@PeterMeyer I don't know what lib/dll did you guys remove, so I can't answer that question right now, but I did remove some libs that have something to do with 3d effect. Anyway, you will see when I upload the code. So what I do is just create my own branch? How do I do that?

As for the DX and Opengl stuff, I am only a beginer of Opengl, and knows virtually nothing about DX. I like the idea of co

[2013-02-21 10:49] PeterMeyer commented on #24
No. BMS has only ported the DX7/8 Fixed function Pipeline to the more recent Version of DX9.Both Fixed Function Pipeline and DX9 is now officially deprecated and should not longer be used.All DirectX Games should now use HLSL and OpenGL GLSL.Writing Shader Programs is absolutly needed if you want to migrate to the nowdays Standards. Regardless if you use DX or GL. By the Way: ATI offers an utility

[2013-02-21 13:57] vinnydiehl commented on #24
I almost consider this a feature. :laughing:

But I mainly want to see the VS2012 port because if it works, we're that much closer to getting it to work in 2010.

@PlutoniumHeart You can either make a new branch of this repo and drop in the entire codebase, or just make a new Git repo on your account and upload it there.

[2013-02-21 14:29] PeterMeyer commented on #24
Youre are right.
Gosh i wish dx, com and mfc was allready removed, then we can use cmake and we have no discussion about VS2010 or VS2012. It has nothing to offer Crossplatform libs does not have.

[2013-02-21 17:48] PlutoniumHeart commented on #24
Hi all,

I am setting up my VS 2012 branch, at the same time you guys will need to do the following to make the build read terrain textures properly:
1. Go to terrdata/korea/texture folder in FreeFalcon main folder, backup texture folder and fartiles.dds file.
2. Open a CMD window, navigate to the Utilities folder in FreeFalcon main folder.
3. Use "seasonswitcher -0" command to unpack the texture,

[2013-02-22 00:58] vinnydiehl commented on #24
The code is working on VS2012 + Win8 here. @PeterMeyer, what do you think about adopting this code and using 2012, at least temporarily until we get everything on OpenGL and won't have to worry about compatibility?

[2013-02-22 07:18] PeterMeyer commented on #24
Hmm, I use Vista and cannot upgrade. But i can install VS2012 in VirtualBox in Win8, I hope i can backport the VS2012 thing to VS2010.

[2013-02-22 07:44] PlutoniumHeart commented on #24
Should be working in Windows 7 too. I hate Windows 8.

[2013-02-22 07:49] PeterMeyer commented on #24
Me 2. Regarding your OpenGL Tests.I tested a few libs for working with OpenGL, but i found out thadt only FreeGLUT  provides everything we need (compatibility from the earlists GL Versions upto 4.2 with the latest Shader Lang Support). All the other Libs came with a terrible tree of libs and dll's we have to redistribute and bloats the Programm.
FreeGLUT works fine on 64 and 32-Bit Intel/PPC/Arm A

[2013-02-22 07:53] PeterMeyer commented on #24
Regarding Particlesys. I hope we can rewrite/reinvent it to an level the effects showing in the sim is acceptable.
If not, there is a good chance we can simply using the Bullet Physics Lib inParticlesys.http://bulletphysics.org
In our Forum there are some Posts about freeglut, bullet, tbb ect.http://freefalcon.org/topic/8414714/1/#new

[2013-02-22 08:00] PlutoniumHeart commented on #24
We should probably convert to OpenGL first before considering anything else, for now, I don't know how to deal with it.

[2013-02-22 08:04] PeterMeyer commented on #24
I wish we could do this, but simply we cant. FF7 should be a long term supported Version and the last DX Version.
In FF8 you have card blanche and do all the cool OpenGL Stuff. Its just for the sake of compatibility and supporting the community. Its lame work fixing stuff but i hope it has an end and we really can begin working on FF8 asap!

[2013-02-22 08:05] PlutoniumHeart commented on #24
I see, then we should find someone to rewrite it...

[2013-02-22 08:08] PeterMeyer commented on #24
If i have VS2012 i will take a look of it. I hope i can clean out the code inside the trashy functions computing the needed functions results in lib bullet, this would prevent us from rewriting patriclesys from scratch.

[2013-02-22 14:08] PeterMeyer commented on #24
Hi. I checked out your VS2012 migration. It doesnt compile at allI get tons of the old Errors int as  default type not allowed  or pvoid64 undefined ect.Looks for me this Code was not migrated or never touched. Are you sure you have uploaded the correct Soruces to your GitHub  Repo?

[2013-02-22 14:30] PeterMeyer commented on #24
After new checkout it seems it compiles now as expected. I found in the 3dlib Subproject there was a false include order and $(DX81_SDK/include was missing.

[2013-02-22 18:33] vinnydiehl commented on #24
@PeterMeyer I didn't have a problem with that. That should be set in your user-side C++ include directories, not in the project settings. This setting is held across different versions of MSVS, so it saw mine from 2010.

[2013-02-23 10:16] PlutoniumHeart commented on #24
I assume you guys all took a look at the code, so what do you think? Should we start converting to OpenGL based on this?

[2013-02-23 18:22] vinnydiehl commented on #24
@PlutoniumHeart: I don't have a problem with starting the conversion from this version of the code, once we have the code stable, cleaned up, and working well, that is. I feel like this is much closer than the current code is, though.

I'll have to get the other fixes that we've done patched over to the potential new code, and that might take a while. I'll let @PeterMeyer get his opinion in, and t

[2013-02-24 03:47] PlutoniumHeart commented on #24
So if I understood correct we are actually aiming at releasing a FF7 based on this code, which would have less bugs and more stable, only after that we are going to convert DirectX to OpenGL which is the FF8?

Looks good to me, but is there a time table for each step?

[2013-02-24 05:52] vinnydiehl commented on #24
Yes, that's the plan. The only step that I had a time set on was getting
the code flying, now that that is done we can plan further.

[2013-02-24 07:19] PeterMeyer commented on #24
As far i can see there are grpahics errors, but i think we cannot deploy it as it is. We have to solve this Graphics Error first, then i think we can move ahead with FF8 and OpenGL.

[2013-02-24 07:21] PlutoniumHeart commented on #24
What kind of graphic errors are we talking about?

[2013-02-24 07:22] PeterMeyer commented on #24
If you jump into an TE for instance Basic Handling, then you see large white areas on the outside.This is almost the same behavior as in the unconverted FF6 VS2003 running source.

[2013-02-24 07:24] PlutoniumHeart commented on #24
@PeterMeyer Did you do the 4 steps I described earlier in this thread?

[2013-02-24 07:25] PeterMeyer commented on #24
yes, it runs but you have the white areas if you look outside the cockpit.  seasonswitcher -0 was running and took some time.

[2013-02-24 07:26] PlutoniumHeart commented on #24
If you have done that correctly then there won't be any white areas outside.

[2013-02-24 07:36] PeterMeyer commented on #24
If you choose TE Basic HandlingTakeoff you get the Blue loading screen and it crashes with an Assertion \vs2012ffalcon\graphics\bsplib\objectlod.cpp Note: refCount > 0 But Dogfight works and Instant Action to.
Im running the Debug build, but i will test the release type asap.

[2013-02-24 07:42] PlutoniumHeart commented on #24
Yes, I know about those, and it is there from the very beginning, the conversion didn't introduce those errors, I fixed some along the way, but not all, we do need to address those assertions. However you should be seeming any texture errors on the terrain though.

[2013-02-24 07:45] PeterMeyer commented on #24
I have not tested all possible flight scenarios yet but for Instant Action it looks like the Textures are shown correctly. Honestly i missed your 4 Instruction, this whitepaced the areas. It was my fault.

[2013-02-24 07:47] PlutoniumHeart commented on #24
Well, about these assertion errors, it's going to take a long time to find the causes and fix all of them.

[2013-02-24 07:50] PeterMeyer commented on #24
Hmm yes. Maybe we need a Skype or Teamspeak Meeting and talk about it. Installer is quickly builded bat we need a new Splashscreen and maybe we can give this away as Beta Version.

[2013-02-24 08:06] PlutoniumHeart commented on #24
I can do teamspeak, just let me know when and the TS address.

[2013-02-24 08:18] PeterMeyer commented on #24
I have no tsserver  but i belive Chaos has. I think it makes sense Chaos you and me talking together in TS

[2013-03-01 15:23] PeterMeyer commented on #24
Hi @PlutoniumHeart
I just tested a Intel V13 Compilerrun. It seems to me thadt many of the Errors i allready solved in VS2010 now comming back again.Problems for Intel and GNU Compliance was allready solved. Can you backport your changes from the VS2012 Source to the VS2010 develop Branch? I think you know best what parts of the Code you have corrected. If we have your Changes in the VS2010 branch

[2013-03-22 20:36] sthalik commented on #2
What for? Do you need link-time code generation done on multiple cores? This is the only thing 2008 won't do.

I'd rather have the project migrate to the CMake build system. Then it can be used with Qt Creator, CodeBlocks, etc... Having an open-source project use .sln files is a bit unusual.

[2014-10-09 13:45] ghost commented on #23
I believe this one can be closed.
Just follow the build manual and those errors will not appear.

[2014-10-09 13:46] ghost commented on #20
This can be closed.
The build manual contains instructions about fixing this issue.

[2014-10-09 13:49] ghost commented on #2
Use the build manual and you will have a working MSVS2013 installation.

[2014-10-09 13:51] ghost opened #30 "FreeFalcon5 and FreeFalcon6 textures"
The main UI screen has a FF5 texture that needs to be edited to remove the 5.
The exit screen has a FF6 texture that needs to be edited to remove the 6.
The version number now works OK so no need to put it in a texture.

[2014-10-09 13:54] ghost opened #31 "INSTALLER project causes build to fail"
Fix the Wix Toolset.
Fix the links to our forum.
Fix the path to the RELEASE build.

[2014-10-09 13:54] Stewie23 commented on #30
i ll take a look at that over the weekend

[2014-10-09 13:56] ghost commented on #30
Thanks!
Referring to the exit screen, maybe the list of developers can be removed or edited.
None of them is currently active with our sim.

[2014-10-09 14:02] ghost opened #32 "UI-SETUP-CONTROLLERS CTD"
Happens due to DirectInput joystick loop.
If I disable it than that screen works.

[2014-10-09 14:05] ghost opened #33 "UI-SETUP-SOUND setting master volume to the maximum is not saved"
Drag the MASTER VOLUME slider to maximum (fully right).
Click OK.
Re-enter the SOUND tab.
The MASTER VOLUME slider will be almost at full, exactly as its default.

[2014-10-10 04:09] #23 closed, assigned to nobody

[2014-10-11 11:47] ghost opened #34 "UI-TacRef no textures"
All weapons are shown as white, without any textures.
Helicopters are shown with a rotating square instead of a rotor.

[2014-10-11 11:58] Stewie23 commented on #34
i got the textures in tac ref working, but was not shure why, so i never commitet that, changed

https://github.com/FreeFalcon/freefalcon-central/blob/develop/src/graphics/bsplib/texbank.cpp#L556

to:

TexturePool[id].tex.flags = MPR_TI_DDS;

Also it seems that there are several places in the code that load textures^^

[2014-10-11 12:03] ghost commented on #34
Please do.
Thank you very much for your help, it is greatly appreciated.

[2014-10-11 12:05] Stewie23 commented on #34
yeah im building falcon again at the moment, will probably take some time  - so you might wanna check out if that change solves your problem.

[2014-10-11 12:07] ghost commented on #34
https://github.com/FreeFalcon/docs/tree/master/guides
Please use this guide. Your feedback about it will be taken into making it better.

[2014-10-11 13:03] ghost commented on #34
https://github.com/dannycoh/docs
Use this build manual as the former one is old.
This one is still waiting to be merged by a pull request.

[2014-10-11 13:07] Stewie23 commented on #34
allright, yeah anywas waiting for downloads to finish

[2014-10-11 13:09] ghost commented on #34
https://github.com/dannycoh/docs/tree/master/guides
Direct link.

[2014-10-12 12:48] Stewie23 commented on #34
worked, thanks for the guide

[2014-10-12 13:02] ghost commented on #34
Any feedback about the build guide that can make it better?

[2014-10-12 13:04] Stewie23 commented on #34
na it was strait forward, i did not realy get the rational behind having visual studio 2010 and 2013, is it optional ? i anways got 2013.

I guess it would be usefull to link the coding guides at the end the project has

[2014-10-12 13:09] ghost commented on #34
Yes I had the same problem.
I couldn't install MSVS2013 and make the solution compile without installing MSVS2010 first.
If you find a way how to do it, please let me know.
Obviously, you can edit the build manual yourself...

[2014-10-12 14:15] PeterMeyer commented on #34
The old Project files where based on Visual Studiob 2003 and was ported by us to Visual Studio 2010 because it was the standard/mainstream ide at this time. It took us days to port it over to VS2010 because there where some very nasty changes on the new compiler generation and we had hundred of Source errors to fix in the first place getting a sane build.Thadts one of the reason the BMS Team and t

[2014-10-12 14:30] ghost commented on #34
Hello Peter!
Just read your FreeFalcon Wiki pages.
Your contribution is appreciated so please come back and help us with development!

[2014-10-15 00:01] vinnydiehl commented on #20
Eh, wouldn't consider setting compatibility a fix, more of a band-aid. Know of any settings in MSVS to build a compatible EXE in the mean time?

[2014-10-15 12:14] ghost commented on #20
No, and there is very little info online about it.
I'll try to force the code to run with 32 bit color depth.

[2014-10-17 09:30] ghost commented on #34
Good news!
My last commit solved this.
There is no more need to install MSVS2010.
Also, no need to install the Windows SDK 7.1.
@vinnydiehl please fix the build manual accordingly.

[2014-10-18 19:05] ghost commented on #34
The last merge fixed the missing textures.
Thanks Stewie23!

[2014-10-18 19:05] #34 closed, assigned to nobody

[2014-10-18 19:08] ghost commented on #31
Not an issue any more.
Once a RELEASE build is successful, those errors no longer exist.
Obviously, the installer will get an overhaul before we release anything.

[2014-10-18 19:08] #31 closed, assigned to nobody

[2014-10-18 19:11] ghost commented on #2
MSVS2010 is no longer a prerequisite.
We are now using MSVS2013.

[2014-10-18 19:11] #2 closed, assigned to vinnydiehl

[2014-10-18 19:18] Stewie23 commented on #30
it will take bit longer, writing on a script to read idx/rsc bundles and write them, there is a converter out there (witch i figured halve way trough writing my one :)) and i guess its alway good to have on with the source code open.

[2014-10-26 16:34] Stewie23 commented on #30
okay reading images works, il get to the writing part over the next days

[2014-10-26 16:55] ghost commented on #30
Thanks man!

[2015-05-01 13:09] Blu3wolf opened #43 "Lack of Activity?"
So is this basically dead then? No activity for a long time...?

[2016-01-13 16:49] Blu3wolf commented on #43
I guess that answers my question, cheers guys.

[2016-01-13 16:49] #43 closed, assigned to nobody

[2016-09-19 02:12] falcon819 commented on #26
Wath is the solution?

[2017-03-10 03:36] GodofMonkeys opened #44 "Success get into 3D environment, but can't see cockpit and middle LOD with map"
Success get into 3D environment, but can't see cockpit and middle LOD with map

Have anybody  go through this?

And  I see this topic. #13

@PeterMeyer say he can use Free Falcon 5 to load.

But now day I hardly to find this version (FF5.0) on internet, have anybody have copy or download link?

[2017-07-22 09:09] kinsung commented on #2
can freefalcon-central be built using MSVS2013 and directx9 or directx10?

[2017-07-22 09:11] kinsung opened #45 "Can freefalcon-central be built with MSVS2013 and directx9 or directx10?"
Can freefalcon-central be built with MSVS2013 and directx9 or directx10?

[2022-05-10 16:52] Pt0lemaeus commented on #44
do you use ff5 files?